*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt
seventh-packet-byte-count.png

\#*#
~*

testpy-output

bindings/python/pybindgen/

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

build-dir/
build/
/.cproject
/.project

.vscode
bindings
doc
contrib
src
utils
examples
waf-tools
*.py
.clang-format
.gitattributes
.hgignore
.hgtags
AUTHORS
CHANGES.html
LICENSE
Makefile
README
RELEASE_NOTES
VERSION
*.xml
testpy.supp
waf
waf.bat
wscript
